<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <title>{% block title %} {% endblock %}Amateur Engineering</title>
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="header">
        <nav>
          <img class="logo" src="images/AEdark.png" alt="Amateur Engineering" />
          <h1>Amateur Engineering</h1>
          <ul>
            {% set navigation_bar = [ ('/', 'index', 'Home'), ('/about', 'about', 'About'), ('/bookmarks', 'bookmarks', 'Bookmarks') ] -%} {% set active_page = active_page|default('index') -%} {% for href, id, caption in navigation_bar %}
            <li><a class="nav-link{% if id == active_page %} active{% endif %}" href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <hr />
      </header>

      <main class="main-content">{% block content %} {% endblock %}</main>
      <div class="left-sidebar">
        <hgroup>
          <h4>Introduction</h4>
          <p>This site is a collection of makers, hackers, tinkerers, and creators of all types writing about their hardware and software projects.</p>
          <p>If you're interested in having your posts added to this website to share your own projects, <a href="https://github.com/senwerks/AmateurEngineering/pulls">submit a PR</a> and add your post repo to the list.</p>
        </hgroup>
        <h4>Categories</h4>
        <p>Below is a list of categories that are scraped from the member posts. We combine any "tags" and "category" metadata from posts into one list to make it easier to find relevant posts.</p>
        <p>
          <a href="/categories/tag1/">Hardware</a>, <a href="/categories/tag1/">Software</a>, <a href="/categories/tag1/">3D Printing</a>, <a href="/categories/tag1/">Laser Cutting</a>, <a href="/categories/tag1/">LLMs</a>, <a href="/categories/tag1/">AI</a>, <a href="/categories/tag1/">Python</a>,
          <a href="/categories/tag1/">Arduino</a>, <a href="/categories/tag1/">Raspberry Pi</a>, <a href="/categories/tag1/">Wetware</a>, <a href="/categories/tag1/">Robotics</a>, <a href="/categories/tag1/">DIY</a>, <a href="/categories/tag1/">Projects</a>, <a href="/categories/tag1/">Update</a>,
          <a href="/categories/tag1/">Hackerspace</a>.
        </p>
        <h4>Credits</h4>
        <p>
          This is a project by members of the <a href="https://ballarathackerspace.org.au">Ballarat Hackerspace</a>. You can see all the code for this website <a href="https://github.com/senwerks/amateurengineering/">on Github</a>, with our aim being that you can ultimately deploy this project for
          your own social group or friends.
        </p>
      </div>
      <footer class="footer">
        <div class="footer-left">
          <a href="javascript:;" id="theme-toggle">Toggle Theme</a>
        </div>
        <div class="footer-center"><em>Hack The Planet</em></div>
        <div class="footer-right">
          <a href="https://bhack.in">π</a>
        </div>
      </footer>
    </div>
    <script>
      const themeToggle = document.getElementById("theme-toggle");
      themeToggle.addEventListener("click", () => {
        const currentTheme = document.documentElement.getAttribute("data-theme");
        const newTheme = currentTheme === "dark" ? "light" : "dark";
        document.documentElement.setAttribute("data-theme", newTheme);
        themeToggle.textContent = newTheme === "dark" ? "Light Mode" : "Dark Mode";
      });

      document.addEventListener("DOMContentLoaded", () => {
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
        const currentTheme = prefersDarkScheme ? "dark" : "light";
        document.documentElement.setAttribute("data-theme", currentTheme);
        const themeToggle = document.getElementById("theme-toggle");
        themeToggle.textContent = currentTheme === "dark" ? "Light Mode" : "Dark Mode";
      });
    </script>
  </body>
</html>
