{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <article>
    <header>
      <h2>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <p>Published on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            {% if article.authors %}
                by {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> (<a href="{{ article.authorurl }}">visit their website</a>){% endfor %}
            {% endif %}
        </p>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </header>
    {{ article.content }}
    <footer>
      {% if article.modified %}
        <p>Article was updated on <time datetime="{{ article.modified.isoformat() }}">
          {{ article.locale_modified }}
        </time></p>
      {% endif %}
      {% if article.category %}
        <p>
          Contributing Author: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> (<a href="{{ article.authorurl }}">visit their website</a>)
        </p>
      {% endif %}
      {% if article.tags %}
        <p>
          Tags:
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </footer>
  </article>
{% endblock %}
